.transaction-container::-webkit-scrollbar {
  width: 8px;
}

.transaction-container::-webkit-scrollbar-track {
  background: transparent;
}

.transaction-container::-webkit-scrollbar-thumb {
  background-color: rgba(240, 240, 239, 0.12);
  border-radius: 4px;
}

.transaction-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(240, 240, 239, 0.2);
}

.transaction-container {
  padding: 4px 12px 4px 0 !important;
}
